<div>
    <form class="form-horizontal showcase-form" role="form" id="basic_form" name="basic_form" novalidate="">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" ng-model="_username" required="" class="form-control"
                       ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,29}$/" placeholder="由字母、数字、下划线组成，以字母开头，3-30个字符">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="email" ng-model="_email" required="" class="form-control" placeholder="邮箱">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" ng-model="_password" required="" ng-maxlength="20"
                       ng-minlength="6" class="form-control" placeholder="密码 6-20个字符">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-10">
                <input type="password" ng-model="_rpassword" required="" ng-maxlength="20"
                       ng-minlength="6" class="form-control" placeholder="再次输入密码">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-10">
                <input type="text" ng-model="_cellphone" class="form-control" placeholder="输入手机号码">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">图形验证码</label>
            <div class="col-sm-10">
                <input type="text" ng-model="_valid_img_code" class="form-control" >
                <img ng-src="{{_imageUrl}}" ng-click="_refreshImgCode()">点击刷新
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">手机验证码</label>
            <div class="col-sm-10">
                <input type="text" ng-model="_valid_sms_code" class="form-control">
                <button class="btn btn-success" ng-click="_getSmsCode()">点击获取手机验证码</button>
            </div>
        </div>
    </form>
</div>