<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My AngularJS AngularJS + RequireJS App</title>

    <!-- Theme css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">


    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/file.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- header -->
    <ng-include src="'partials/header/main-header.html'"></ng-include>

    <!-- left side bar -->
    <ng-include src="'partials/aside/main-siderbar.html'"></ng-include>

    <!--<ng-include src="'partials/content/main-content.html'"></ng-include>-->

    <!-- footer -->
    <ng-include src="'partials/footer/main-footer.html'"></ng-include>

    <ng-include src="'partials/aside/ctrl-siderbar.html'"></ng-include>

    <div class="control-sidebar-bg"></div>

</div>

<!--<ul class="menu">-->
<!--<li><a href="#/view1">view1</a></li>-->
<!--<li><a href="#/view2">view2</a></li>-->
<!--<li><a href="#/login">login</a></li>-->
<!--<li><a href="#/register">register</a></li>-->
<!--</ul>-->

<div>Angular Require seed app: v<span app-version></span></div>

<script src="lib/requirejs/require.js" data-main="js/main.js"></script>
</body>
</html>
